html {
    font-size: 62.5%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: var(--card-color);
    width: 30rem;
    border-radius: 1rem;
    padding: 1.5rem 1rem 3rem 1rem;
    gap: 2rem;
}

.card img {
    width: 30rem;
    border-radius: 1rem;
}

.card .title {
    font-size: 2rem;
    font-weight: 700;
    color: var(--title-color);
    margin: 0 3rem;
}

.card .text {
    font-size: 1.6rem;
    color: var(--text-color);
    margin: 0 2rem;
}